<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewRetrieveCheckRecord</key>
	<dict>
		<key>keys</key>
		<array>
			<string>DWMC</string>
			<string>DWDZ</string>
			<string>DWFZR</string>
			<string>法人电话</string>
			<string>邮编</string>
			<string>监管性质</string>
			<string>案由</string>
			<string>被询问人</string>
			<string>被询问人职务</string>
			<string>被询问人电话</string>
			<string>询问人</string>
			<string>记录人</string>
			<string>参与人</string>
			<string>询问地点</string>
			<string>DCSJ</string>
			<string>DCJSSJ</string>
		</array>
		<key>types</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
		</array>
		<key>DWMC</key>
		<string>被检查单位</string>
		<key>DWDZ</key>
		<string>单位地址</string>
		<key>DWFZR</key>
		<string>法人代表</string>
		<key>法人电话</key>
		<string>法人电话</string>
		<key>邮编</key>
		<string>邮政编码</string>
		<key>监管性质</key>
		<string>监管性质</string>
		<key>案由</key>
		<string>案由</string>
		<key>被询问人</key>
		<string>被询问人</string>
		<key>被询问人职务</key>
		<string>被询问人职务</string>
		<key>被询问人电话</key>
		<string>被询问人电话</string>
		<key>询问人</key>
		<string>询问人</string>
		<key>记录人</key>
		<string>记录人</string>
		<key>参与人</key>
		<string>参与人</string>
		<key>询问地点</key>
		<string>询问地点</string>
		<key>DCSJ</key>
		<string>调查开始时间</string>
		<key>DCJSSJ</key>
		<string>调查结束时间</string>
	</dict>
</dict>
</plist>
