<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:35</string>
		<key>DM</key>
		<string>5501</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>COD</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>1</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:35</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:35</string>
		<key>DM</key>
		<string>5502</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>pH</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>2</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:35</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:35</string>
		<key>DM</key>
		<string>5503</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>NH3-N</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>3</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:35</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:35</string>
		<key>DM</key>
		<string>5504</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>TN</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>4</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:35</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:35</string>
		<key>DM</key>
		<string>5505</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>TP</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>5</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:35</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>5506</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>SS</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>6</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>5507</string>
		<key>DMJBH</key>
		<string>CY</string>
		<key>DMNR</key>
		<string>色度</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>7</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6601</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总铬</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>1</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6602</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>六价铬</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>2</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6603</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总镍</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>3</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6604</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总镉</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>4</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6605</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总铜</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>5</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6606</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总锌</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>6</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>6607</string>
		<key>DMJBH</key>
		<string>ZJS</string>
		<key>DMNR</key>
		<string>总锰</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>7</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7701</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>动植物油</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>1</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7702</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>石油类</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>2</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7703</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>甲醛</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>3</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7704</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>氟化物</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>4</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7705</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>硫化物</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>5</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7706</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总氰化合物</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>6</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:36</string>
		<key>DM</key>
		<string>7707</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>粪大肠菌群</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>7</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:36</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7708</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总余氯</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>8</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7709</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>肠道致病菌</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>9</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7710</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>结核杆菌</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>10</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7711</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>挥发酚</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>11</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7712</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总砷</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>12</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7713</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总汞</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>13</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7714</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总铅</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>14</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
	<dict>
		<key>BZ</key>
		<string></string>
		<key>CJR</key>
		<string></string>
		<key>CJSJ</key>
		<string>2011-10-27 11:56:37</string>
		<key>DM</key>
		<string>7715</string>
		<key>DMJBH</key>
		<string>QTYZ</string>
		<key>DMNR</key>
		<string>总银</string>
		<key>FDM</key>
		<string></string>
		<key>ORGID</key>
		<string>330100</string>
		<key>PXM</key>
		<real>15</real>
		<key>SFYX</key>
		<string></string>
		<key>XGR</key>
		<string></string>
		<key>XGSJ</key>
		<string>2011-10-27 11:56:37</string>
	</dict>
</array>
</plist>
